@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear:both;
    }
}



@mixin respond($breakpoint) {
    @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {@content};
    }
    @if $breakpoint == tablet-port {
     @media only screen (max-width: 56.25em) {@content};
        }
       @if $breakpoint == tablet-land {
     @media only screen (max-width: 75em) {@content};
            }
      @if $breakpoint == desktop {
     @media only screen (max-width: 112.5em) {@content};
         }
}